@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@300&family=Quicksand:wght@300..700&display=swap');

.exhibition-card {
    border: none !important;
    overflow: hidden !important;
    margin: 10px !important;
    padding: 15px !important;
    transition: transform 0.2s !important;
    display: flex !important;
    align-items: center !important;
}

.exhibition-details {
    text-align: center !important;
    font-size: 0.8em !important;
    color: #FF0000 !important;
    /* Cambia el color del texto a rojo */
    font-family: 'Poppins', sans-serif !important;
}

.exhibition-card:hover {
    transform: scale(1.05) !important;
}

.exhibition-details h6 {
    font-size: 0.9em !important;
    font-style: italic !important;
    font-weight: bold !important;
    color: #FF0000 !important;
    /* Asegura que el color del texto sea rojo */
}

.artwork-details h5 em {
    font-style: italic !important;
    font-weight: bold !important;
    color: #FF0000 !important;
    /* Asegura que el color del texto sea rojo */
}