.navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0);

}

.bg-body-tertiary {
    --bs-bg-opacity: 0.5;

    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.navbar {
    width: 100%;
    background-color: transparent !important;

}


.navbar-brand {
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 0;
}

.navbar-brand a {
    color: #FF0000 !important;

    text-decoration: none;
    font-size: 2rem;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse {
    padding-right: 10px;
}

.rounded-circle {
    margin-right: 10px;
}

.btn-primary {
    --bs-btn-bg: #000dff !important;
    --bs-btn-border-color: #000dff !important;
    --bs-btn-hover-bg: grey;
    --bs-btn-hover-border-color: grey;
}

.navbar-nav .nav-link {
    color: #FF0000 !important;
    /* Cambiar el color de los enlaces a rojo */
}

.bg-body-tertiary {
    --bs-bg-opacity: 0.2;
    background-color: #E91E63 !important;
}