body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
button,
input,
textarea {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300 !important;
    color: #FF0000 !important;
    text-align: center !important;
}

.exhibition-card {
    border: none !important;
    overflow: hidden !important;
    margin: 10px !important;
    padding: 15px !important;
    transition: transform 0.2s !important;
    display: flex !important;
    align-items: center !important;
    background-color: #FFF !important;
    font-size: 1em !important;
    text-align: center !important;
    height: 400px;
}

.exhibition-card:hover {
    transform: scale(1.05) !important;
}

.exhibition-details {
    text-align: center !important;
    font-size: 0.8em !important;
    color: #FF0000 !important;
}

.exhibition-details h5,
.cedulacard {
    font-weight: 300 !important;
    color: #FF0000 !important;
    font-size: 0.9em !important;
    text-align: center !important;
}

.exhibition-details h5 em {
    font-weight: bold !important;
    font-size: 1.2em !important;
    color: #FF0000 !important;
}

.exhibition-profile-card {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 1em !important;
    line-height: 1.5 !important;
    text-align: center !important;
}

.exhibition-profile-card h5 {
    font-weight: 300 !important;
    margin: 0 !important;
}

.exhibition-profile-card h4 {
    font-weight: 300 !important;
    font-size: 1.3em !important;
    margin: 0 !important;
}