.ExhibitionForm {
    text-align: left !important;
    display: block;
}

.EditExhibitionForm .form-control {
    color: black !important;
    background-color: white;
}

.EditExhibitionForm .form-check-label {
    color: black !important;

}

.btn {

    box-sizing: border-box !important;
}