@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@300&family=Quicksand:wght@300..700&display=swap');


.body {
    color: #FF0000 !important;
}

hr {
    border: 0 !important;
    border-top: 1px solid #FF0000 !important;
    margin: 20px 0 !important;
    opacity: 1 !important;
    background-color: transparent !important;
}


/* Image Container */

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-backgrd-text h1 {
    position: absolute;
    top: 65%;
    left: 60px;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    color: white !important;
    font-size: 4em;
    font-weight: semibold !important;
    letter-spacing: 0.1em;
}

/* Artist Profile */
.artist-profile {
    font-size: 6em;
}

/* User Info */
.User-info h5 {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100 !important;
    font-style: normal !important;
    font-size: 1em;
    line-height: 1.5 !important;
}

.Img-profile img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Carousel */
.carrusel {
    width: 50%;
    margin: 0 auto;
}

/* Artwork Details */
.artwork-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artwork-image {
    width: 600px !important;
    height: auto !important;
    max-height: 400px !important;
    object-fit: cover !important;
    margin-bottom: 20px;
}

.artwork-details {
    font-size: 0.8em !important;
    color: #FF0000 !important;
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

/* Exhibition List */
.Exhibition-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.Exhibition-list>.col-md-3 {
    padding: 5px;
}

/* Exhibition Card */
.exhibition-card {
    border: none !important;
    overflow: hidden !important;
    margin: 10px !important;
    padding: 15px !important;
    transition: transform 0.2s !important;
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
}

.exhibition-card:hover {
    transform: scale(1.05) !important;
}

.ExhibitionCard {
    position: relative;
    overflow: hidden;
}

.ExhibitionCard img {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.ExhibitionCard .card-body {
    padding: 10px;
    text-align: center;
}

.ExhibitionCard h5 {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Editable H5 */
.editable-h5 {
    font-size: 0.8em !important;
    color: #FF0000 !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100 !important;
    font-style: normal !important;
    border: 1px solid transparent;
    padding: 5px;
}

.editable-h5[contenteditable="true"] {
    border: 1px dashed #ccc !important;
    outline: none !important;
}

.therow-title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 900 !important;
    font-size: 2em;
    text-align: center;
    /* Centra el texto horizontalmente */
    margin: 20px 0;
    /* Añade margen superior e inferior */
    letter-spacing: 0.8em;
    /* Añade separación entre letras */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100% 100%;
    padding: 0px;
    color: rgb(52, 50, 50) !important;
}