/* ArtistsList.css */
body {
    color: #FF0000;
    font-family: "Poppins", sans-serif !important;
    font-weight: 200 !important;
    font-style: normal !important;
}

.artistsList {
    width: 100%;
}

.artist {
    color: #FF0000;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.artist:hover {
    color: #343434;
}


.artist-background {
    /* ... other styles */
    width: calc(100% - 200px);
    height: 400px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    opacity: .6;
}