.artistsListContainer {
    min-height: 100vh;
    /* Establece la altura mínima de la ventana */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

.artistsList {
    width: 100%;
    max-width: 800px;
    /* Establece el ancho máximo de la lista de artistas */
}

.artist-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.artist-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.artist-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px
}