/* ArtistsList.css */
body {
    color: #FF0000;
    font-family: "Poppins", sans-serif !important;
    font-weight: 200 !important;
    font-style: normal !important;
}

.artistsList {
    width: 100%;
}

.artist {
    color: #FF0000;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.artist:hover {
    color: #343434;
}


.artist-background {
    /* ... other styles */
    /* width: calc(100% - 200px); */
    width: 400px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    opacity: .6;
    display: none;
}

/* ArtistsList.css */

.artist-col a {
    text-decoration: none !important;
    /* Quita el subrayado */
}



.artist-container {
    /* margin-top: 50px !important; */
    position: relative;
}

.artist-container h2 {
    margin-top: 0 !important;
    font-size: 2rem !important;
    text-decoration: none !important;
    /* Quita el subrayado */
}


.artist-link:hover .artist-background {
    display: block;
    /* Mostrar la imagen de fondo cuando el enlace está en hover */
}