@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

.offcanvas {
    backdrop-filter: blur(6px);
    background-color: #000dffc3;
    color: white;
    font-size: 1.5rem;
}

.navIcon {
    width: 32px;
}

.offcanvas a {
    color: white;
    text-decoration: none;
}

.offcanvas-title {
    font-family: 'Sixtyfour', sans-serif !important;
    font-size: 2rem;
}

ul {
    list-style-type: none;
    font-size: 2rem;
    padding: 1.5rem;
}

li {
    padding: 0.9rem;
}

.form-control {
    border-radius: 0;
    padding: 1rem;
}

.btn-close {
    background-color: white;
    border-radius: 0;
}