.therow-title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 900 !important;
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 0.8em;
}

.therow-title {
    font-size: 1.5em !important;
    text-align: center !important;
    color: #FF0000 !important;
}

.hr-full-width {
    width: 100% !important;
    margin: 0 auto !important;
    border: 1px solid #FF0000 !important;
}

.First-margin {
    margin-top: 40px !important;

}


.exhibition-details {
    padding-top: 20px;
    text-align: center !important;
    /* Alinea el texto al centro */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos en el eje horizontal */
}

/* Imagen de la exhibición */
.exhibition-image img {
    width: 70%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    /* Centra la imagen horizontalmente */
    object-position: center;
}

/* Contenedor de información de la exhibición */
.exhibition-info {
    color: #FF0000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* Alinea el texto al centro */
}

/* Línea divisoria */
.exhibition-info hr {
    border: 1px solid #FF0000;
    text-align: center !important;
    /* Alinea el texto al centro */
    margin: 20px auto;
    /* Centra la línea horizontalmente y agrega un margen */
}

.exhibition-info h5 {
    font-size: 2em !important;
    margin-bottom: 1em;
    font-weight: bold;
}

.exhibition-info h6 {
    font-size: 1.5em !important;
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.6;
}

/* Título principal */
.exhibition-info .exhibition-title {
    font-size: 1.2em;
    margin-bottom: 1rem;
    font-weight: bold;
    /* Hace que el texto sea negrita */
}

/* Texto en negrita */
.exhibition-info strong {
    font-weight: bold;
    /* Hace que el texto sea negrita */
}