<<<<<<< HEAD
.therow-title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 900 !important;
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 0.8em;
}

.therow-title {
    font-size: 1.5em !important;
    text-align: center !important;
    color: #FF0000 !important;
}

.hr-full-width {
    width: 100% !important;
    margin: 0 auto !important;
    border: 1px solid #FF0000 !important;
}

.First-margin {
    margin-top: 40px !important;

}


=======
>>>>>>> bd0ef684fdffdf7f45dc48ef1367806fa4d95e7d
.exhibition-details {
    padding-top: 20px;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exhibition-image img {
    width: 70%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    object-position: center;
}

.exhibition-info {
    color: #FF0000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.exhibition-info hr {
    border: 1px solid #FF0000;
    text-align: center !important;
    margin: 20px auto;
}

.exhibition-info h5 {
    font-size: 2em !important;
    margin-bottom: 1em;
    font-weight: bold;
}

.exhibition-info h6 {
    font-size: 1.5em !important;
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.6;
}

.exhibition-info .exhibition-title {
    font-size: 1.2em;
    margin-bottom: 1rem;
    font-weight: bold;
}

.exhibition-info strong {
    font-weight: bold;
}

.scroll-to-top {
    box-shadow: none !important;
    background-color: transparent !important;
}