@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@300&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&family=Poppins:ital,wght@0,300;0,400;0,700;1,300&family=Quicksand:wght@300..700&display=swap');


img {
  width: 100%;
}

* {
  color: #FF0000;
}


body {
  padding-top: 2rem;
  font-family: "Poppins", sans-serif !important;
  font-weight: 200 !important;
  font-style: normal !important;
  margin-top: 30px;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 2rem;
}

#content {
  padding-top: 100px;

}


:root {
  --bs-border-radius-sm: 0;
}

:global(body) {
  color: #FF0000;
}


.card {
  border: none !important;
  overflow: hidden !important;
  margin: 10px !important;
  padding: 15px !important;
  transition: transform 0.2s !important;
  display: flex !important;
  align-items: center !important;
}

.card-body {
  text-align: center !important;
  font-size: 0.8em !important;
  color: #FF0000 !important;
  /* Cambia el color del texto a rojo */
  font-family: 'Poppins', sans-serif !important;
}

.card:hover {
  transform: scale(1.05) !important;
}

.card-body h5,
.card-body h6,
.card-body em {
  font-size: 0.9em !important;
  font-style: italic !important;
  font-weight: bold !important;
  color: #FF0000 !important;
  /* Asegura que el color del texto sea rojo */
}

.container .AddExhibitionForm {

  margin-bottom: -2;

}