body {
    margin-top: 30px;
}

.home-page {
    background-color: rgb(239, 214, 214);
    width: 100vw;
    height: 100vh;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.container-background {
    position: relative;
    background-image: url("https://www.julian-charriere.net/media/pages/projects/controlled-burn/c68b610a44-1686223648/05_juliancharriere_controlledburn_websiteclips_lessthan100mb.mp4");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 4em;
}

.spinner-text strong {
    font: bold;
}

.spinner-text,
.spinner-border {
    color: black;

}

.spinner-text,
.spinner-border {
    color: #4050df;
}


.spinner-border {
    --bs-spinner-width: 10rem !important;
    /* Ajusta el ancho del spinner */
    --bs-spinner-height: 10rem !important;
    /* Ajusta la altura del spinner */
    --bs-spinner-border-width: 0.3em !important;
    /* Ajusta el ancho del borde */
    --bs-spinner-animation-speed: 12s !important;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid currentcolor;
    border-right-color: #130cff;
}

.spinner:hover {
    animation-play-state: paused;
}